[MASTER]
indent-string='    '

[MESSAGES CONTROL]
disable=
    C0111,  # Missing module docstring
    C0103,  # Variable name doesn't conform to snake_case naming style
    W0703,  # Catching too general exception
    R1710,  # Inconsistent return statement
    R0903,  # Too few public methods
    W0622,  # Redefining built-in

[FORMAT]
max-line-length=100

[DESIGN]
max-args=6
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=7
min-public-methods=0
max-public-methods=20

[REPORTS]
output-format=colorized
reports=no

[SIMILARITIES]
min-similarity-lines=10
